/* Ensure the container handles overflow */
.hover-zoom-bg {
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* Smooth transition for background color */
    overflow: hidden; /* Hide overflow to keep image contained */
    position: relative; /* Needed for absolute positioning of child elements if needed */
    border-radius : 30px;
}

/* Add zoom effect on hover */
.hover-zoom {
    transition: transform 0.3s ease, border-radius 0.3s ease; /* Smooth transition for zoom */
    max-height: 300px; /* Set your desired max height */
    width: 100%; /* Ensure the width is 100% to keep the aspect ratio */
    object-fit: cover;
    object-position: 50% 30%;;
}

/* Apply zoom on hover */
.hover-zoom-bg:hover .hover-zoom {
    transform: scale(1.1); /* Zoom effect */
    
}

/* Change background color on hover */
.hover-zoom-bg:hover {
    background-color: #ffffff; /* Darker grey on hover */
}
.image-container {
    overflow: hidden; /* Hide overflow to keep image contained */
    position: relative; /* Needed for absolute positioning of child elements if needed */
    max-height: 300px; /* Set your desired max height for the container */
}

/*   
Style pour la sideBar
*/


body {
    font-family: 'Roboto', sans-serif;
}


.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 10px;
    text-indent: 15px;
}

.sidebar-nav li a {
    color: #999;
    text-decoration: none;
    display: block;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(92, 67, 67, 0.2);
    border-left: 2px solid red;
}

.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav li ul {
    display: none;
}

/* Montrer les sous-liens lorsque l'élément parent est survolé */
.sidebar-nav li a:hover  {
    display: block;
}

/* 
NavBarre
*/
.border-dashed-success {
    border: 1px dashed #28a745; /* Couleur de bordure verte */
}

.border-dashed-success:hover{
    background-color: #28a745 ;
    border: 2px dashed #000000;
    color : white;
}

.border-dashed-danger {
    border: 1px dashed #ce4141; /* Couleur de bordure verte */
}
.border-dashed-danger:hover{
    background-color: #ce4141 ;
    border: 2px dashed #000000;
    color : white;
}

.border-dashed-create{
    border: 1px dashed #49dde2; /* Couleur de bordure verte */
}
.border-dashed-create:hover{
    background-color: #49dde2 ;
    border: 2px dashed #000000;
    color : white;
}

.border-dashed-profil{
    border: 3px solid  #000000; /* Couleur de bordure verte */
    background-color: #944f0e;
    color : white;
}
.border-dashed-inscription:hover {
    background-color: #5ae4e9;
}

.border-dashed-motCles{
    background-color: #49dde2 ;
    
    color : white;
}
.fc-scrollgrid-sync-inner{
    background-color: #ffffff;
}
.fc-col-header-cell-cushion {
    text-decoration: none; /* Enlever le soulignement */
    color: #333; /* Changer la couleur du texte */
  }
  .fc-daygrid-day-number{
    text-decoration: none; /* Enlever le soulignement */
    font-weight: bold;
  }
  #fc-dom-1{
    font-size: 2.50rem;
  }
  .fc-toolbar-chunk{
    font-size : 1.25em;
  }
  .fc table{
    font-size : 1.10em;
  }

  .custom-shadow{
    box-shadow: 0 0 10px 2px currentColor;
    border-color: inherit;
    transition: filter 0.3s ease;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #999;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.containerImg:hover .custom-shadow{
    filter: blur(2px);
}
.containerImg:hover .overlay {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}
.dateForm {
    border: 1px solid #cccccc; /* Définit un border initialement */
}
.dateForm:hover{
    background-color: #9dfcff;
    border-color: #3a50ca;
}
.boutonShowEvent{
    border : 1px solid #cccccc;
    background-color: #ffffff;
}
.boutonShowEvent:hover{
    border : 1px solid #6259da;
    background-color: #d5feff;
}
