/********************** INDEX *********************/
.hover-zoom-bg {
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* Smooth transition for background color */
    overflow: hidden; /* Hide overflow to keep image contained */
    position: relative; /* Needed for absolute positioning of child elements if needed */
    border-radius : 30px;
}

/*  zoom effet  hover */
.hover-zoom {
    transition: transform 0.3s ease, border-radius 0.3s ease; /* Smooth transition for zoom */
    max-height: 300px; /* Set your desired max height */
    width: 100%; /* Ensure the width is 100% to keep the aspect ratio */
    object-fit: cover;
    object-position: 50% 30%;;
}

/*  zoom hover */
.hover-zoom-bg:hover .hover-zoom {
    transform: scale(1.1); /* Zoom effect */
    
}

/* Change background color hover */
.hover-zoom-bg:hover {
    background-color: #ffffff; /* Darker grey on hover */
}
.hover-zoom-bg:hover .image-container{
    border-radius: 5% 5% 0% 0%;
}
.image-container {
    overflow: hidden; /* Hide overflow to keep image contained */
    position: relative; /* Needed for absolute positioning of child elements if needed */
    max-height: 300px; /* Set your desired max height for the container */
}

.spacingNavBarre{
    margin-top: 5rem;
}
.spacingContentNavBarre{
    margin-top: 7rem;
}
/************************************* Style pour la sideBar ********************************/
body {
    font-family: 'Roboto', sans-serif;
}


.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 10px;
    text-indent: 15px;
}

.sidebar-nav li a {
    color: #999;
    text-decoration: none;
    display: block;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(92, 67, 67, 0.2);
    border-left: 3px solid rgb(122, 122, 122);
}

.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav li ul {
    display: none;
}

/* Montrer les sous-liens lorsque l'élément parent est survolé */
.sidebar-nav li a:hover  {
    display: block;
}

/*******************************  NavBarre ***************************/
.border-dashed-success {
    border: 1px dashed #00fff2; /* Couleur de bordure verte */
}

.border-dashed-success:hover{
    background-color: #00fff2 ;
    border: 2px dashed #000000;
    color : white;
}

.border-dashed-danger {
    border: 1px dashed #ce4141; /* Couleur de bordure verte */
}
.border-dashed-danger:hover{
    background-color: #ce4141 ;
    border: 2px dashed #000000;
    color : white;
}

.border-dashed-create{
    border: 1px dashed #49dde2; /* Couleur de bordure verte */
}
.border-dashed-create:hover{
    background-color: #d2fdff ;
    border: 2px dashed #000000;
    color : white;
}

.border-dashed-profil{
    border: 3px solid  #000000; /* Couleur de bordure verte */
    background-color: #49dde2;
    color : rgb(0, 0, 0);
}
.border-dashed-inscription:hover {
    background-color: #5ae4e9;
}

.border-dashed-motCles{
    background-color: #49dde2 ;
    
    color : white;
}
.fc-scrollgrid-sync-inner{
    background-color: #ffffff;
}
.fc-col-header-cell-cushion {
    text-decoration: none; /* Enlever le soulignement */
    color: #333; /* Changer la couleur du texte */
  }
  .fc-daygrid-day-number{
    text-decoration: none; /* Enlever le soulignement */
    font-weight: bold;
  }
  #fc-dom-1{
    font-size: 2.50rem;
  }
  .fc-toolbar-chunk{
    font-size : 1.25em;
  }
  .fc table{
    font-size : 1.10em;
  }
/*************************************** Show Event ****************************/
  .custom-shadow{
    box-shadow: 0 0 10px 2px currentColor;
    border-color: inherit;
    transition: filter 0.3s ease;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #999;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.containerImg:hover .custom-shadow{
    filter: blur(2px);
}
.containerImg:hover .overlay {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}
.dateForm {
    border: 1px solid #cccccc; /* Définit un border initialement */
}
.dateForm:hover{
    background-color: #9dfcff;
    border-color: #3a50ca;
}
.boutonShowEvent{
    border : 1px solid #cccccc;
    background-color: #ffffff;
}
.boutonShowEvent:hover{
    background-color: #d5feff;
}
.optionEventForm{
    border : 1px solid #9c9c9c;
    background-color: #e7e7e7;
}
.optionEventForm:hover{
    border : 1px solid #6259da;
    background-color: #d5feff;
}

/************************************* PAGE DE DISCUSSION *****************************/
.indicationJourDiscussion{
    color: #524646;
}
.buttonDiscussion{
    background-color: #3df9ff;
}
.buttonDiscussion:hover{
    background-color: #b7f3f5;
}
.messageDiscussionUser{
    background-color: #ffffff;
    border: 1px solid #5f5f5f;
    border-radius: 12px 12px 12px 0; /* Format : top-left top-right bottom-right bottom-left */

}
.messageDiscussionAutre{
    background-color: #ffffff;
    border: 1px solid #5f5f5f;
    border-radius: 12px 12px 0 12px; /* Format : top-left top-right bottom-right bottom-left */

}
/****************************** CSS SELECT2 PAGE MESSAGERIE ************************/

.select2-container--default .select2-selection--multiple {
    padding: 10px 10px 10px 10px;
    border: none ;/* Bordure personnalisée */
    border-radius: 8px; /* Rayon des coins arrondi */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #ffffff; /* Couleur du texte des éléments sélectionnés */
    border: none; /* Supprimer les bordures des éléments sélectionnés */
    font-weight: bold;
    
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 16px; /* Taille de la police */
    color: #000;
}

.select2-container--default .select2-results__option--highlighted {
    background-color: #007bff; /* Couleur de fond au survol */
}
.select2-selection__choice__remove{
    font-size: 24px;
}
.select2-selection__clear{
    visibility: hidden;
}
.select2-container--default .select2-selection--multiple {
    padding: 4px 10px 10px 10px;
    border: none;
    border-radius: 8px;
}
.lienDiscussion:hover .zoneTexteMessage{
 background-color: #ffffff;
}


/********************   Page de discussion ************************/
.bg-discussion{
    background-color: #e0e0e0;
    border: solid 2px #919191;
}
.conteneurMessage {
    position: relative; /* Ensure the parent has position relative */
}
.position-absolute-bottom {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: white; /* Optional: to make sure it overlays correctly */
    width: 100%; /* Ensure the form takes the full width of the parent */
    padding: 10px; /* Optional: for spacing */
}
.messageDiscussionUser {
    max-width: 650px; /* Définir la largeur maximale du conteneur de texte */
    word-wrap: break-word; /* Permet de renvoyer à la ligne si un mot dépasse la largeur */
    white-space: normal; /* Permet au texte de revenir à la ligne normalement */
}
.messageDiscussionAutre {
    max-width: 650px; /* Définir la largeur maximale du conteneur de texte */
    word-wrap: break-word; /* Permet de renvoyer à la ligne si un mot dépasse la largeur */
    white-space: normal; /* Permet au texte de revenir à la ligne normalement */
}
/********************* */
.lienNotificationMessage {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}
.lienNotificationMessage:hover {
    transform: translateY(-2px); /* Déplace légèrement l'icône vers le haut */
    
}
.lienNotificationMessage:hover i {
    color: #01c7ce; /* Change la couleur de l'icône au survol (bleu) */
}
.badge-notification {
    position: absolute; /* Positionner absolument par rapport au conteneur parent */
    top: -13px; /* Ajuster la position du badge en haut */
    right: -12px; /* Ajuster la position du badge à droite */
    background-color: red; /* Couleur de fond du badge, vous pouvez changer en bg-danger si vous utilisez Bootstrap */
    color: white; /* Couleur du texte */
    border-radius: 50%; /* Badge circulaire */
    padding: 0.4em 0.6em; /* Taille du badge */
    font-size: 0.90em; /* Taille du texte du badge */
    font-weight: bold; /* Mettre le texte en gras */
    line-height: 1; /* Hauteur de ligne pour centrer le texte */
    text-align: center; /* Aligner le texte au centre */
    z-index: 10; /* Assurez-vous que le badge est au-dessus de l'icône */
}

/* Page de notifications*/
.nouvellesNotifications{
    background-color: #c9fdf9;
}
.nouvellesNotifications:hover{
    background-color: #a3fdf6;
}
.anciennesNotifications:hover{
    background-color: #f7f7f7;
}


/* Page du profil */

.titreProfil{
    font-weight: bold;
    color: #00deee;
}
.btn-custom {
    --bs-btn-padding-y: 0.25rem;
    padding-top: var(--bs-btn-padding-y);
    padding-bottom: var(--bs-btn-padding-y);
    --bs-btn-padding-x: 0.25rem;
    padding-right: var(--bs-btn-padding-x);
    padding-left: var(--bs-btn-padding-x);
}

.btn-choice-event.actif  {
    background-color: #69f5ff;
    border: solid 1px #797979;
    padding: 3px 10px 3px 10px;
    color: #000000;
}
.btn-choice-event.inactif  {
    background-color: #acacac;
    border: solid 1px #797979;
    padding: 3px 10px 3px 10px;
    color: #000000;
}
.btn-choice-event:hover {
    background-color: #adf6fc;
    color: #464646;
    border: solid 1px #797979;

}
.lienTitreEvent{
color: #000;
}
.lienTitreEvent:hover{
color: #224bff;
}

.lienModifMDP {
    color: #2af1ff;
}
.lienModifMDP:hover {
    color: #00adb3;
}