<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>
    <style>
        .search {
            background-color: #fff;
            padding: 4px;
            border-radius: 5px
        }

        .search-1 {
            position: relative;
            width: 100%
        }

        .search-1 input {
            height: 45px;
            border: none;
            width: 100%;
            padding-left: 34px;
            padding-right: 10px;
            border-right: 2px solid #eee
        }

        .search-1 input:focus {
            border-color: none;
            box-shadow: none;
            outline: none
        }

        .search-1 i {
            position: absolute;
            top: 12px;
            left: 5px;
            font-size: 24px;
            color: #eee
        }

        ::placeholder {
            color: #979797;
            opacity: 1
        }

        .search-2 {
            position: relative;
            width: 100%
        }

        .search-2 input {
            height: 45px;
            border: none;
            width: 100%;
            padding-left: 18px;
            padding-right: 100px
        }

        .search-2 input:focus {
            border-color: none;
            box-shadow: none;
            outline: none
        }

        .search-2 i {
            position: absolute;
            top: 12px;
            left: -10px;
            font-size: 24px;
            color: #eee
        }

        .search-2 button {
            position: absolute;
            right: 1px;
            top: 0px;
            border: none;
            height: 45px;
            background-color: rgb(129, 251, 255);
            color: #000000;
            font-weight: bold;
            width: 90px;
            border-radius: 4px
        }

        .search-2 button:hover {
            background-color: rgb(169, 252, 255);
            color: #8a8a8a;
        }

        @media (max-width:800px) {
            .search-1 input {
                border-right: none;
                border-bottom: 1px solid #eee
            }

            .search-2 i {
                left: 4px
            }

            .search-2 input {
                padding-left: 34px
            }

            .search-2 button {
                height: 37px;
                top: 5px
            }
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <div class="min-vh-100 w-100 d-flex flex-column align-items-center " style="background-color: rgb(242, 243, 243); margin-left: 14%;">
        <div class=" d-flex mx-1 spacingContentNavBarre" style="width: 80%;">
            <div class="fs-4 fw-bold d-flex align-items-center justify-content-end" style="width: 20%;"> Rechercher un évènement </div>
            <div class="w-75 d-flex">
                <div class="d-flex align-items-center justify-content-center w-25" >
                    <label class="switch">
                        <input type="checkbox" id="toggleSwitchEvent">
                        <span class="slider round"></span>
                    </label>
                    <div class="ms-2 fs-5 fw-bold text-info" id="textToggleSwitchEvent">À venir</div>
                </div>
                <div class="w-75" >
                    <div class="container ">
                        <div class="search border  border-info">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="search-1 border-end border-2 "> <i class='bx bx-search-alt'></i> <input
                                            type="text" placeholder="Nom de l'évènement..."  id="nomEvenement"> </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <div class="search-2"> <i class='bx bxs-map'></i> <input type="text"
                                                placeholder="Lieu..." id="lieuEvenement"> <button id="searchButton">Search</button> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" mt-4" style="width: 80%;">
            <div class="row row-cols-3 mx-1 " id="dataEvent">
                <% for (const evenement of evenements) { %>

                    <div class="col mb-5 hover-overlay position-relative rounded">
                        <a href="/evenement/<%= evenement.id %>" class="text-decoration-none text-black">
                            <%- include('./shared/evenement.ejs', {evenement}) %>
                        </a>
                    </div>

                    <% } %>
            </div>
        </div>
    </div>
    <script src="/search.js">
    </script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Optionally call the function here or in response to some event
        initSearch();
    });
    </script>
    <%- include('./shared/footer.ejs')%>