<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>
    <div class="w-100 ">
        <div class="container mt-5 w-75">
            <div class="row row-cols-3 mx-1 ">
                <% for (const evenement of evenements) { %>
                    <div class="col mb-3 hover-overlay position-relative">
                        <%- include('./shared/evenement.ejs', {evenement}) %>

                    </div>
                    <% } %>
            </div>
        </div>

    </div>
   
    <%- include('./shared/footer.ejs')%>