<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>

<h1> Liste des évènements</h1>
<div class="container">
    <div class="row row-cols-2 mx-1 ">
        <% for (const evenement of evenements) { %>
            <div class="col mb-3">
                <%- include('./shared/evenement.ejs', {evenement}) %>
            </div>
            <% } %>
    </div>  
</div>
<%- include('./shared/footer.ejs')%>