
    <%- include('./shared/header.ejs')%>
        <!-- Importmap pour gérer les imports de modules -->
        <script type="importmap">
    {
      "imports": {
        "@fullcalendar/core": "https://cdn.skypack.dev/@fullcalendar/core@6.1.14",
        "@fullcalendar/daygrid": "https://cdn.skypack.dev/@fullcalendar/daygrid@6.1.14"
      }
    }
  </script>
        <!-- CSS de FullCalendar avec thème Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@6.1.14/main.css" rel="stylesheet">

        <body>
            <div class="min-vh-100 w-100 d-flex justify-content-center " style="background-color: rgb(242, 243, 243); margin-left: 14%;">
                <div id="idUser" class="invisible">
                    <%=user.id %>
                </div>
                <div style="width:80%;">
                    <div class="spacingContentNavBarre" id="calendar"></div>
                </div>
            </div>

        </body>
        <!-- Fichier JavaScript principal -->
        <script type="module" src="/calendar.js"></script>

        <%- include('./shared/footer.ejs')%>