<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>
<div class="min-vh-100 w-100 d-flex justify-content-center " style="background-color: rgb(242, 243, 243); margin-left: 14%;">
        <div class=" spacingContentNavBarre" style="width: 80%;">
            <% if(evenements.length == 0){%>
                <div class="w-100 fs-3 justify-content-center d-flex">Aucun évènement trouvé.</div>
            <% }%>
            <div class="row row-cols-3 mx-1 ">
                <% for (const evenement of evenements) { %>
                    <div class="col mb-3 hover-overlay position-relative rounded">
                        <a  href="/evenement/<%= evenement.id %>" class="text-decoration-none text-black">
                        <%- include('./shared/evenement.ejs', {evenement}) %>
                    </a>
                    </div>
                    
                    <% } %>
            </div>
        </div>
    </div>

    <%- include('./shared/footer.ejs')%>