<%- include('./shared/header.ejs', {title: 'Bienvenue sur mon blog' })%>
        <div class=" w-100 d-flex flex-column align-items-center " style="background-color: rgb(242, 243, 243); margin-left: 14%;">
            <%- include('./shared/detailEvenement.ejs', {evenement})%>
    </div>
    
    <%- include('./shared/footer.ejs')%>